.main.py.un~
main.py~
static/.style.css.un~
static style.css~
templates/.base.html.un~
templates/.index.html.un~
templates/.welcome.html.un~
templates/base.html~
templates/index.html~
templates/welcome.html~
..gitignore.un~
.gitignore~
