{% extends 'base.html' %}
{% block content %}
<h1>Signup</h1>
<form method = "post">
	<table>
		<tr>
			<td>
				<label for = "user_name">Username:</label>
			</td>
			<td>
				<input id = "user_name" name = "username" type = "text" value = "{{old_username_value}}">
				<span class = "input_error">{{username_error}}</span>
			</td>

		</tr>
		<tr>
			<td>
				<label for = "pass_word">Password:</label>
			</td>
			<td>
				<input id = "pass_word" name = "password" type = "password" value = "">
				<span class = "input_error">{{password_error}}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label for = "verify_pass_word">Retype Password:</label>
			</td>
			<td>
				<input id = "verify_pass_word" name = "verifypassword" type = "password" value = "">
				<span class = "input_error">{{verifypassword_error}}</span>
			</td>
		</tr>
		<tr>
			<td>
				<label for = "e_mail">E-Mail:</label>
			</td>
			<td>
				<input id = "e_mail" name = "email" type = "text" value = "{{old_email_value}}">
				<span class = "input_error">{{email_error}}</span>
			</td>
		</tr>
	</table>
	<input type = "submit" value = "Sign-Up">
</form>
{% endblock %}
